body {
  font-family: Arial, sans-serif;
  background-color: rgba(192, 192, 192, 0.329);
}

.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: silver;
  border: 1px solid #ec0000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(168, 38, 255);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(140, 32, 212);
  transition: all 0.3s;
}

.Btn:hover {
  color: transparent;
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

.Btn svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  fill: white;
  transition: all 0.3s;
}

.button-container {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #e62222;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all 0.2s;
}

.button-container:hover {
  background: #ff3636;
  width: 200px;
}

.button-text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
  transition: all 0.2s;
}

.button-icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.button-icon svg {
  width: 15px;
  fill: #eee;
}

.button-container:hover .button-text {
  color: transparent;
}

.button-container:hover .button-icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

button:focus {
  outline: none;
}

button:active .button-icon svg {
  transform: scale(0.8);
}

li span{
  width:50%;
  color: white;

}

.Secbtn{
  background-color: red ;
}

.Secbtn:hover{

  background-color: red !important;

}

